
/* TODO: Use padding property to set the padding area on all four sides of the page. 
  Try using percentages to have a responsive design when the screen size changes.  */

body {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/* TODO: Please take a look at this page: https://css-tricks.com/snippets/css/a-guide-to-flexbox/. 
  Then try to find appropriate values for the following properties. Make sure you try other values 
  as explained on the README page of this week. */
.container-flex {
  display: flex;
  margin: 10px;
  gap: 10px; 
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

/* TODO: Please take a look at this page: https://css-tricks.com/snippets/css/a-guide-to-flexbox/. 
  Then try to find appropriate values for the following properties. Make sure you try other values 
  as explained on the README page of this week. */
.container-flex .flex-item {
  border: 100px;
  flex-basis: 0;
}

/* TODO: Have you noticed that the text is too close to the right of each flex-item box? 
  Find a property that can make some spaces there. */
.item-description ul li {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  
}


/* Table related css rules. Look at the screenshots and try to build the same style. */
.item-tables {
  border: 100px ;
}

.item-tables tr th {
  border-bottom: 100px;
}

.item-tables tr td {
  border: 100px;
}

/* TODO:  Look at the table's cells carefully, especially the spaces around the texts within each cell. Write appropriate rules that provide some spaces around the text of each cell. */
.item-tables p {

}