
/* TODO: Use padding property to set the padding area on all four sides of the page. 
  Try using percentages to have a responsive design when the screen size changes.  */

body {
  padding: 10%;
}

/* TODO: Please take a look at this page: https://css-tricks.com/snippets/css/a-guide-to-flexbox/. 
  Then try to find appropriate values for the following properties. Make sure you try other values 
  as explained on the README page of this week. */
.container-flex {
  display: flex;
  margin: auto;
  gap: 20px 20px; 
  flex-flow: row wrap;
  align-items: normal;
  justify-content: center;
}

/* TODO: Please take a look at this page: https://css-tricks.com/snippets/css/a-guide-to-flexbox/. 
  Then try to find appropriate values for the following properties. Make sure you try other values 
  as explained on the README page of this week. */
.container-flex .flex-item {
  border: 1px solid black;
  flex-basis: 25%;
}

/* TODO: Have you noticed that the text is too close to the right of each flex-item box? 
  Find a property that can make some spaces there. */
.item-description ul li {
  margin-right: 5%;
}


/* Table related css rules. Look at the screenshots and try to build the same style. */
.item-tables {
  border: 2px solid black;
}

.item-tables tr th {
  border-bottom: 2px solid black;
}

.item-tables tr td {
  border: 2px solid black;
}

/* TODO:  Look at the table's cells carefully, especially the spaces around the texts within each cell. Write appropriate rules that provide some spaces around the text of each cell. */
.item-tables p {

}