
body {
  padding: 5% 10%;
}

.container-flex {
  display: flex;
  margin: 5% 0;
  gap: 1rem 2%; 
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.container-flex .flex-item {
  border: 0.1rem solid rgb(202, 202, 202);
  flex-basis: 25%;
}

.container-flex-order {
  display: flex;
  margin: 5% 0;
  gap: 1rem 2%; 
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.container-flex-order .flex-item-order {
  border: 0.1rem solid rgb(202, 202, 202);
  flex-basis: 27%;
  padding: 1rem;
}

.info-msg {
  display: none;
}

.item-description ul li {
  margin-right: 5%;
}


/* Table related css rules */

.item-tables {
  border: solid 0.05rem black;
}

.item-tables tr th {
  border-bottom: double 0.2rem black;
}

.item-tables tr td {
  border: solid 0.01rem blue;
}

.item-tables p {
  margin: 0;
  padding: 0.1rem 0.5rem;;
}